{% extends "base.html" %}

{% block content %}
  <div class="d-flex flex-column p-5 rounded mx-auto" style="max-width: 50%; background-color: #161616; border-radius: 10px; margin-top: 20px;">
    <form method="post">
        {% csrf_token %}
        <!-- form.as_p로 출력하고, 중앙 정렬 적용 -->
        <div class="form-group text-center">
            {{ form.as_p }}
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">수정</button>
            <a href="{% url 'movies:detail' movie_id=review.movie.tmdb_id %}" class="btn btn-secondary">취소</a>
        </div>
    </form>
  </div>
{% endblock %}
