{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile_container">
    <h1 class="page-title">{{ bamboo_post.id|yesno:"글 수정하기,새 글 작성하기"}}</h1>
    <div class="profile-box">
        <h2 class="form-title">{{ bamboo_post.id|yesno:"글 수정하기,새 글 작성하기"}}</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">제목</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="id_title">내용</label>
                {{ form.content }}
            </div>
            <div class="form-group">
                <label for="id_image">이미지</label>
                {{ form.image }}
            </div>  
            <button type="submit" class="btn-submit">저장</button>
        </form>
    </div>

    <a href="{% url 'communities:bamboo_post' post_num=bamboo_post.id %}" class="btn-back">돌아가기</a>
</div>
{% endblock content %}
