{% extends "base.html" %}
{% load static %}
{% load customfilter %}

{% block content %}
<h1>{{ current_year }}년 {{ current_month }}월 상영 시간표</h1>

<table class="calendar">
    <thead>
        <tr>
            <th>일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
        </tr>
    </thead>
    <tbody>
        {% for week in weeks_in_month %}
        <tr>
            {% for day in week %}
                {% if day.month == current_month and day.year == current_year %}
                    <td>
                        <div class="day-number">{{ day.day }}</div>
                        {% with formatted_day=day|date:"Y-m-d" %}
                            {% if grouped_schedules|get_item:formatted_day %}
                                <ul class="movie-list">
                                    {% for movie in grouped_schedules|get_item:formatted_day %}
                                        <li class="movie-title">{{ movie }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </td>
                {% else %}
                    <td></td>  <!-- 다른 달의 날짜는 빈 칸으로 처리 -->
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>


<!-- 진행 중인 이벤트 -->
<h2>진행 중인 이벤트</h2>
<ul class="event-list">
    {% for event in active_events %}
    <li>{{ event.title }}</li>
    {% endfor %}
</ul>

<!-- 인기 영화 리뷰 -->
<h2>인기 영화 리뷰</h2>
<ul class="review-list">
    {% for review in popular_reviews %}
    <li>{{ review.movie.title }} - {{ review.like_count }} 좋아요</li>
    {% endfor %}
</ul>

<!-- 인기 대나무숲 게시물 -->
<h2>인기 대나무숲 게시물</h2>
<ul class="bamboo-post-list">
    {% for post in popular_bamboo_posts %}
    <li>{{ post.title }} - {{ post.comment_count }} 댓글</li>
    {% endfor %}
</ul>

{% endblock content %}
